.headContainer {
  background: transparent linear-gradient(260deg, #303f60 0%, #1a253c 100%) 0%
    0% no-repeat padding-box;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 72px;
  align-items: center;
}
